#home {
	background: #ffc107;
	color: white;
}

.no-list-style {
    list-style-type: none;
}

.no-border {
    border: none;
}

.box {
    border-bottom: 1px solid #e5e5e5;
    padding: 60px 0;
}

.m-footer {
    margin: 5px 15px;
}